# Файлы сборки
build-*/
build/
release/
debug/
*.build/
Makefile*
*.o
*.obj

# Qt Creator
*.pro.user
*.pro.user.*
*.autosave

# Исполняемые файлы
*.exe
*.app
*.dll
*.so
*.dylib

# Скомпилированные переводы
*.qm

# Системные файлы
.DS_Store
Thumbs.db

# Резервные копии
*~
*.bak
